<div *ngIf="visible"
	style="position: absolute; left: 25%; width: 50%; top: 150px; z-index: {{zIndex}}; background-color: #eee; padding: 0px;">
	<div style="padding-left: 20px; padding-bottom: 20px">
		<button (click)="visible = false" style="background-color: #eee; position: absolute; top: 0px; right: 0px; cursor: grab;">X</button>
		<h2>Settings</h2>
		<table>
			<tr>
				<td class="column1">Text&nbsp;size</td>
				<td>
					<i [ngClass]="{'selectedFont':selectedFontSize==0}" style="font-size: 16px;" (click)="setGlobalFontSize(0)" class="fa fa-font fontToSelect"></i> &nbsp;
					<i [ngClass]="{'selectedFont':selectedFontSize==1}" style="font-size: 23px;" (click)="setGlobalFontSize(1)" class="fa fa-font fontToSelect"></i> &nbsp;
					<i [ngClass]="{'selectedFont':selectedFontSize==2}" style="font-size: 30px;" (click)="setGlobalFontSize(2)" class="fa fa-font fontToSelect"></i> &nbsp;
					<i [ngClass]="{'selectedFont':selectedFontSize==3}" style="font-size: 36px;" (click)="setGlobalFontSize(3)" class="fa fa-font fontToSelect"></i>
				</td>
			</tr>
			<tr>
				<td class="column1">Color palette</td>
				<td style="display: flex; flex-wrap: wrap;">
					<div *ngFor="let palette of palettes, let i = index" [attr.data-index]="i"
						class="palette"
						[ngClass]="{'selectedPalette': selectedPalette == i}"
						(click)="setPalette(i)">
						<div *ngFor="let color of palette.colors"
							style="cursor: grab; float: left; background-color: {{color}}; width: {{ palette.width }}%; height:100%;">
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="column1">Background image</td>
				<td style="display: flex; flex-wrap: wrap;">
					<img *ngFor="let default of defaultImages"
						class="palette"
						[ngClass]="{selectedPalette: default == selectedDefault}"
						src="assets/mini/default_{{default}}.jpg"
						(click)="setDefaultImage(default)"/>
				</td>
			</tr>
			<tr>
				<td class="column1">Your background</td>
				<td>
					<div [ngClass]="{'displayPreview': showPreview == false, 'dontDisplayPreview': showPreview == true}" class="palette" style="text-align: center; cursor: default;">
						<i class="fa fa-question" style="color: #777; font-size: 60px; margin: 10px 0px 0px 0px;"></i>
					</div>
					<div [ngClass]="{'displayPreview': showPreview == true, 'dontDisplayPreview': showPreview == false}"><img class="palette" id="previewImg" src=""/></div>
					<input [disabled]="inLocalMode" name="files" type="file" (change)="tryPreview($event)"/><input [disabled]="inLocalMode" name="files2" (click)="uploadImage($event)" type="submit"/>
				</td>
			</tr>
			<tr>
				<td class="column1">Account</td>
				<td>
					<button [ngClass]="{'selected': accountMode == PASSWORD}" class="settingsButton" (click)="setAccountMode(PASSWORD)"><i class="fa fa-key"></i><br/>Change password</button>
					<button [ngClass]="{'selected': accountMode == LOCAL}" class="settingsButton" (click)="setAccountMode(LOCAL)"><i class="fa fa-cloud-download"></i><br/>Save to local</button>
					<button [ngClass]="{'selected': accountMode == REMOVE}" class="settingsButton" (click)="setAccountMode(REMOVE)"><i class="fa fa-user-times"></i><br/>Remove account</button>
					<button [disabled]="inLocalMode" [ngClass]="{'invisible': accountMode == '' || (accountMode == PASSWORD && password1 == '') || password1 != password2}" (click)="accountChange()">Confirm</button>
				</td>
			</tr>
			<tr>
				<td class="column1"></td>
				<td>
					<input [ngClass]="{'invisible': accountMode != PASSWORD}" [(ngModel)]="password1" class="settingsInput" type="password" placeholder="new password"/><br/>
					<input [ngClass]="{'invisible': accountMode != PASSWORD}" [(ngModel)]="password2" class="settingsInput" type="password" placeholder="repeat password"/>
					<i *ngIf="password1 != password2" class="fa fa-exclamation-triangle" style="color: red; font-size: x-large;"></i>
				</td>
			</tr>
		</table>
	</div>
</div>
