<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="width: 100%; margin-top: 100px;">

	<table class="center">
		<tr>
			<td>
				<input class="topInput" [(ngModel)]="user" placeholder="user name" size="12"/>
			</td>	
			<td class="col2">
			</td>
		</tr>
		<tr>
			<td>
				<input class="topInput" type="password" placeholder="password" [(ngModel)]="password1" size="12"/>
			</td>	
			<td class="col2">
			</td>
		</tr>

		<tr *ngIf="createMode">
			<td>
				<input class="topInput" type="password" placeholder="repeat password" [(ngModel)]="password2" size="12"/>
			</td>	
			<td class="col2">
				<span *ngIf="password1 != password2"><i class="fa fa-exclamation-triangle" style="color: red; font-size: x-large;"></i></span>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<button [disabled]="!serverEnabled" *ngIf="!createMode" class="topButtonLog" (click)="login()">Log in</button>
				<button [disabled]="!serverEnabled" *ngIf="createMode" class="topButtonLog" (click)="setCreateMode(false)"><i class="fa fa-mail-reply"></i></button>
				<button [disabled]="!serverEnabled" *ngIf="!createMode" class="topButtonLog" (click)="setCreateMode(true)">Create</button>
				<button [disabled]="!serverEnabled" *ngIf="createMode" class="topButtonLog" (click)="createUser()">Create</button>
				<br/>
				<button class="topButtonLog" (click)="goLocal()">Work locally</button>
			</td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<span *ngIf="badLoginData"><i class="fa fa-exclamation-triangle" style="color: red; font-size: x-large;"></i> {{errorInfo}}</span>
			</td>
			<td></td>
		</tr>

	</table>

</div>
