<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="width: 100%; text-align: center;">

<input class="topInput" placeholder="search notes" [(ngModel)]="pattern" size="10"/> 
<abbr title="search">
	<button class="topButton" (click)="findNotes(deleted)"><i class="fa fa-search"></i></button>
</abbr>
<abbr title="clear search">
	<button class="topButton" (click)="setAllVisible(deleted)"><i class="fa fa-times"></i></button>
</abbr>
<abbr title="delete all visible">
	<button class="topButton" (click)="removeAllVisible()"><i class="fa fa-trash"></i></button>
</abbr>

</div>

<abbr title="notes">
<div (dragover)="enteredZone($event, 'notes')" (dragleave)="exitedZone($event, 'notes')"
	[ngClass]="{'activeZone': overZoneName=='notes'}"
	(click)="goToPage('notes')"
	class="dragZone" style="left: 50px;">
	
	<div class="elementsIn">{{ notes.length }}</div>
	<i class="inDragZone fa fa-home"></i>
</div>
</abbr>

<abbr title="archived">
<div (dragover)="enteredZone($event, 'archived')" (dragleave)="exitedZone($event, 'archived')"
	[ngClass]="{'activeZone': overZoneName=='archived'}"
	(click)="goToPage('archived')"
	class="dragZone" style="right: 50px;">
	<div class="elementsIn">{{ archived.length }}</div>
	<i class="inDragZone fa fa-archive"></i>
</div>
</abbr>

<div style="display: flex; flex-wrap: wrap; position: absolute; left: 50px; top: 200px;">

<div *ngFor="let note of deleted">
	<div *ngIf="note.hidden == false"
		[ngClass]="{'overZone': overZoneName != '' && inDragMode == note.id}"
		(dragstart)="dragStart(note.id, $event)"
		(dragend)="dragEnd(note, $event)"
		draggable="true"
		style="width: 200px; background-color: {{ note.color }}; margin:2px; padding: 0px 0px 0px 20px">

		<div style="display: flex; justify-content: flex-end">
			<div class="handle" cdkDragHandle></div>
			<abbr title="delete pernamently">
				<button class="delete" (click)="deleteNote(note)" style="background-color: {{ note.color }}">X</button>
			</abbr>
		</div>
		<textarea disabled rows=1 style="display:block; background-color: {{ note.color }}; 
		resize: none; font-size: x-large; font-family: Garamond, serif; 
		font-weight: bold;" [(ngModel)]="note.title"></textarea>
		<textarea disabled 
			[(ngModel)]="note.text"
			style="display: block; background-color: {{ note.color }}; font-family: Garamond, serif; font-size: large; height: 150px;"></textarea>
	</div>
</div>

</div>
