<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="width: 100%; text-align: center;">

<abbr title="new note">
	<button class="topButton" (click)="addNote()"><i class="fa fa-plus-circle"></i></button>
</abbr>
<input class="topInput" placeholder="search notes" [(ngModel)]="pattern" size="10"/>
<abbr title="search">
	<button class="topButton" (click)="findNotes(notes)"><i class="fa fa-search"></i></button>
</abbr>
<abbr title="clear search">
	<button class="topButton" (click)="setAllVisible(notes)"><i class="fa fa-times"></i></button>
</abbr>

<abbr title="settings">
	<button style="position:relative; left:170px; top: 20px;" class="topButton" (click)="showGlobalSettings()"><i style="font-size: 60px;"class="fa fa-cog"></i></button>
</abbr>
<abbr title="logout">
	<button style="position:relative; left:190px; top: 20px;" class="topButton" (click)="logout()"><i style="font-size: 60px;"class="fa fa-sign-out "></i></button>
</abbr>

</div>

<abbr title="deleted">
<div (dragover)="enteredZone($event, 'deleted')" (dragleave)="exitedZone($event, 'deleted')"
	[ngClass]="{'activeZone': overZoneName=='deleted'}"
	(click)="goToPage('deleted')"
	class="dragZone" style="left: 50px;">
<div class="elementsIn">{{ deleted.length }}</div>
<i class="inDragZone fa fa-trash"></i>
</div>
</abbr>

<abbr title="archived">
<div (dragover)="enteredZone($event, 'archived')" (dragleave)="exitedZone($event, 'archived')"
	[ngClass]="{'activeZone': overZoneName=='archived'}"
	(click)="goToPage('archived')"
	class="dragZone" style="right: 50px;">
<div class="elementsIn">{{ archived.length }}</div>
<i class="inDragZone fa fa-archive"></i>
</div>
</abbr>


<div *ngFor="let note of notes">

	<div *ngIf="note.hidden == false"
		id="Note{{note.id}}"
		[ngClass]="{'overZone': overZoneName != '' && inDragMode == note.id}"
		(dragstart)="dragStart(note.id, $event)"
		(dragend)="dragEnd(note, $event)"
		(dblclick)="doubleClick(note)"
		draggable="true"
		style="position: absolute; top:{{note.y}}px;left:{{note.x}}px;width: {{ note.width }}px; z-index: {{ note.z }}; background-color: {{ note.color }}; margin:0px; padding: 0px 0px 0px 20px">

		<div style="display: flex; justify-content: flex-end">
			<div class="handle" cdkDragHandle></div>
			<abbr title="settings">
				<button class="delete" (click)="showNoteSettings(note)" style="background-color: {{ note.color }}">...</button>
			</abbr>
			<abbr title="delete">
				<button class="delete" (click)="deleteNote(note)" style="background-color: {{ note.color }}">X</button>
			</abbr>
		</div>
		<textarea id="TitleInput{{note.id}}" rows=1 style="display:block; background-color: {{ note.color }}; 
		resize: none; font-size: {{titleFonts[note.fontSize]}}px; font-family: Garamond, serif; 
		font-weight: bold;"
		(ngModelChange)="saveText(note)"
		[(ngModel)]="note.title"></textarea>
		<textarea id="TextInput{{note.id}}"
			(resized)="saveSize(note, $event)"
			(ngModelChange)="saveText(note)"
			[(ngModel)]="note.text"
			style="display: block; background-color: {{ note.color }}; font-family: Garamond, serif; font-size: {{textFonts[note.fontSize]}}px; height: {{ note.height }}px;"></textarea>
	</div>

</div>

<app-global-settings></app-global-settings>  <!-- do not change the order -->
<app-settings></app-settings>
