/* You can add global styles to this file, and also import other style files */
body
{
    background-image: url("assets/default_0.jpg");
    background-size: 100% auto;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.handle
{
	cursor: move; 
	height: 25px;
	width: 100%;
}

textarea
{
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
	padding: 0px 0px 0px 0px;
	width: 100%;
	margin: 10px 0px 0px 0px;
	border: 0px;
	outline: none;
}

.column1
{
	padding: 0px 10px 0px 0px;
}

.delete {
    opacity: 0;
}

.delete:hover {
    opacity: 1;
	cursor: grab;
}

.topButton
{
font-size: xx-large; 
background: none; 
color: white; 
border: 0px;
}

.topButton:hover
{
	cursor: grab;
	color: #ddd;
}
.topButtonLog
{
	font-size: x-large; 
	background: white; 
	color: #aaa; 
	margin: 10px;
	border: 0px;
}

.topButtonLog:hover
{
	cursor: grab;
	color: #777;
}

.topButtonLog:hover:disabled
{
	cursor: not-allowed;
	color: #aaa; 
}

.topInput
{
	background:none;
	color: white; 
	font-size: x-large;
	padding: 12px 20px;
	margin: 8px 10px 0px 10px;
	box-sizing: border-box;
	border: 3px solid #fff;
	outline: none;
}

.dragZone
{
	position: absolute; 
	top: 20px; 
	width: 150px; 
	height: 150px; 
	border: dashed 4px white;
	color: white;
	font-size: 80px;
    text-align: center;
}

.dragZone:hover
{
	color: #ddd;
	border: dashed 4px #ddd;
	cursor: grab;
}

.activeZone
{
	color: #ddd;
	border: dashed 4px #ddd;
}

.inDragZone
{
   padding: 35px 0;  /* (150px - 80px) / 2)*/
}

.overZone
{
	opacity: 0.3;
}

.elementsIn
{
	position: absolute; 
	color: gray; 
	top: 0px; 
	right: 10px; 
	font-size: 30px;
}

.dragZone:hover > .elementsIn
{
	color: #ddd;
}

.activeZone > .elementsIn
{
	color: #ddd;
}

.palette
{
	cursor: grab;
	width: 80px; 
	height: 80px; 
	border: 1px solid black; 
	margin: 2px;
}

.palette.selectedPalette
{
	border: 2px solid black;
}


.colorToSelect
{
	cursor: grab;
	width: 40px;
	height:40px; 
	margin: 2px;
	border: 1px solid black;
 }

.selectedColor
{
	border: 2px solid black;
	margin: 1px;
}

.fontToSelect
{
	cursor: grab;
	color: #777;
}

.fontToSelect.selectedFont
{
	color: #000;
}

.displayPreview
{
	display: block;
}

.dontDisplayPreview
{
	display: none;
}

.settingsInput
{
	background:none;
	font-size: small;
	padding: 6px 10px;
	margin: 5px 10px 0px 10px;
	box-sizing: border-box;
	border: 1px solid #777;
	outline: none;
}

.settingsButton
{
	margin: 10px;
	background: none; 
	color: #777;
	border: 0px;
}

.settingsButton.selected
{
	color: #000;
}

.settingsButton i
{
	font-size: xx-large;
}

.settingsButton:hover
{
	cursor: grab;
	color: #000;
}

.invisible
{
	visibility: hidden;
}
