<div *ngIf="visible" draggable="true" 
	(dragstart)="dragStartForSettings($event)"
	(dragend)="dragEndForSettings($event)"
	style="position: absolute; left: {{settingsPosX}}px; top: {{settingsPosY}}px; display: block; width:300px; min-height: 220px; z-index: {{zIndex}}; background-color: #eee; padding: 0px;">
	<div style="padding-left: 20px;">
		<button (click)="setVisible()" style="background-color: #eee; position: absolute; top: 0px; right: 0px; cursor: grab;">X</button>
		<h2>Settings</h2>
	<table>
		<tr>
			<td class="column1">Text&nbsp;size</td>
			<td>
				<i [ngClass]="{'selectedFont':note.fontSize==0}" style="font-size: 16px; cursor: grab;" (click)="setFontSize(0)" class="fa fa-font fontToSelect"></i> &nbsp;
				<i [ngClass]="{'selectedFont':note.fontSize==1}" style="font-size: 23px; cursor: grab;" (click)="setFontSize(1)" class="fa fa-font fontToSelect"></i> &nbsp;
				<i [ngClass]="{'selectedFont':note.fontSize==2}" style="font-size: 30px; cursor: grab;" (click)="setFontSize(2)" class="fa fa-font fontToSelect"></i> &nbsp;
				<i [ngClass]="{'selectedFont':note.fontSize==3}" style="font-size: 36px; cursor: grab;" (click)="setFontSize(3)" class="fa fa-font fontToSelect"></i>
			</td>
		</tr>
		<tr>
			<td class="column1">Color</td>
			<td style="display: flex; flex-wrap: wrap;">
				<div *ngFor="let color of colors"
				[ngClass]="{'selectedColor':note.color==color}"
				class="colorToSelect"
				style="background-color: {{color}};"
				(click)="setColor(color)">
				</div>
			</td>
		</tr>
	</table>
	</div>
</div>
